@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

Heading {
  font-size: 48px; /* Ajusta el tamaño del texto según tu diseño */
  font-weight: bold; /* Opcional: hace que el texto sea más grueso */
  background: linear-gradient(to bottom, #ffffff, #d3d3d3); /* Degradado de blanco a gris claro */
  -webkit-background-clip: text; /* Recorta el fondo al texto en navegadores WebKit */
  background-clip: text; /* Recorta el fondo al texto */
  color: transparent; /* Hace que el color del texto sea transparente para mostrar el fondo */
}